# Node
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Turborepo build artifacts
.out
.turbo

# Local env
.env
.env*.local

# Git / IDE / OS
.git
.gitignore
.gitattributes
Dockerfile
.dockerignore
.vscode
.idea
.DS_Store
*.swp